/*RESET*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html,
body,
h1,h2,h3,h4,h5,h6,
div{
    margin: 0;
    padding: 0;
}

/*GLOBAL STYLES*/

html, body {
    height: 100%;
    background: #f6f6f6;
}

* {
    font-family: MetricWeb-Regular, Calibri, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
    display: none;
}

.modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;
}

.modal-body {
    padding: 20px;
    background: #f6f6f6;

    /* margin exposes part of the modal background */
    margin: 40px;
}

.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #858585;
    opacity: 0.75;

    /* z-index must be below .modal and above everything else  */
    z-index: 900;
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}