<div class="container">
    <div id="meme-container">

        <div *ngFor="let meme of memes" class="box">

            <div style="height: 35px">
                <button style="float: left; margin-right: 5px" (click)="deleteMeme(meme)">
                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                </button>

                <div class="title">{{meme.fileMetadata.name}}</div>
            </div>

            <div class="thumbnail-image-container" (click)="memeClicked(meme)">
                <img class="thumbnail-image" src="{{memeService.getThumbnailLink(meme)}}">
            </div>

        </div>

        <div *ngIf="memes.length === 0">
            <p id="no-memes">No memes here 😢</p>
        </div>

    </div>
</div>