<div class="container">
    <div id="meme-container">

        <div *ngFor="let meme of memes" class="box">

            <button style="float: left; margin-right: 5px" (click)="deleteMeme(meme)">
                <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </button>

            <div class="title">{{meme.fileMetadata.name}}</div>

            <img class="thumbnail-image" src="{{getThumbnailLink(meme)}}">

        </div>

        <div *ngIf="memes.length === 0">
            <p id="no-memes">No memes here 😢</p>
        </div>

    </div>
</div>