.box {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 1px solid #eeeeee;
    margin: 0 5px 0 0;
}

.title {
    white-space: nowrap; /*keep text on one line */
    overflow: hidden;         /*prevent text from being shown outside the border */
    text-overflow: ellipsis;  /*cut off text with an ellipsis*/
}

.thumbnail-image {
    height: 200px;
}

#meme-container {
    margin: 5px;
}

#no-memes {
    text-align: center;
    padding: 50px;
    font-weight: bolder;
}

