<div id="upload" class="container">
    <input #fileInput type="file" [attr.disabled]="uploadProgressPercentage !== 0 ? '' : null"
           (change)="onUpload($event)">
    <div id="progress" [ngClass]="{'animated-progress': isUploadInProgress()}">
        <div id="progress-bar"
             [style.width.%]="uploadProgressPercentage"
             [ngClass]="{'progress-bar-border': isUploadInProgress()}"
        ></div>
    </div>
</div>

<modal id="upload-result-modal">
    <h2>{{uploadResultTitle}}</h2>
    <p>{{uploadResultDetails}}</p>
</modal>