#header{
    background: #0079ef;
    color: #ffffff;
    height: 56px;
    font-weight: bold;
}

#header div {
    height: 56px;
    line-height: 56px;
    text-align: center;
    width: 57px;
    background: #014272;
}
#header span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#upload {
    position: relative;
}

#upload input {
    padding: 10px;
    margin-bottom: 10px;
}

#progress {
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #eeeeee;
}
#progress-bar {
    height: 10px;
    background: #0079EF;
}

button {
    background: none;
    text-align: center;
}
button:hover {
    cursor: pointer;
}

#main{
    height: 100%;
    padding: 10px;
}

.container {
    background: #ffffff;
    margin: 0 0 10px 0;
    border: 1px solid #dddddd;
}